/*colocando div lado a lado usando o display inline block*/

div {
 width: 100px;
 height: 100px;
 display: inline-block;
}
#container-a {
    background-color: red;
}
#container-b {
    background-color: blue;
    margin-left: -4px;
    
}
